.products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    background-color:white;
}

.cart__products{
    display: flex;
    justify-content: space-evenly;
}
.cart__image{
    width:100px;
    height:100px;
    display: inline-block;
}

.cart__items{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 205, 205);
    margin-bottom: 5px;
    padding: 5px;
}
.product__card{
    width:300px;
    height:300px;
    display: inline-block;
    margin: 20px 10px 10px 0px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: whitesmoke;
}
.product__card__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px 0px 5px;
}
img{
    height: 80%;
    width: 100%;
}
.cart__summary{
    display: flex;
    justify-content: center;
}
button{
    text-align: right;
}

.prod_title{
    color: black;
    font-size: 1rem;
    word-wrap: break-word;
    width: 70%;
    text-align: start;

}